
.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color:gainsboro;
  }
  
body {
    font-family: 'Times New Roman', Times, serif;
    background: gainsboro;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
  }

#nav-dropdown {
    color: black;
  }

.nav-link {
    color:black;
  }

h1 {
    color: rgb(3, 216, 216);
    text-align: center;
  }

.sum-img {
    background-color: white;
    padding: 10px;
  }

#desc-img {
  float: left;
  width: 200px;
}
.vis-img {
  display: flex;
  flex-wrap: wrap;
}